# introduction
This is a samples panda file to determine how to build HLOC charts using python packages

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
price_data = pd.read_csv("sample-data/test-data.csv",)

price_data.head()

,Unnamed: 0,bid,bid.1,bid.2,bid.3,ask,ask.1,ask.2,ask.3
0,DateTime,Open,High,Low,Close,Open,High,Low,Close
1,30/12/2022 12:00,33102.4,33113.9,33069.9,33079.4,33106,33117.5,33073.5,33083
2,30/12/2022 13:00,33078.9,33086.9,33043.9,33067.4,33082.5,33090.5,33047.5,33071
3,30/12/2022 14:00,33066.9,33107.5,32909,32993,33070.5,33109.9,32911.4,32995.4
4,30/12/2022 15:00,32993.5,33074.5,32930,32977,32995.9,33076.9,32932.4,32979.4

In [4]:
# transform data
price_data = pd.read_csv("sample-data/test-data.csv", index_col=0, header=0, parse_dates=[0])

price_data.head()

,bid,bid.1,bid.2,bid.3,ask,ask.1,ask.2,ask.3
DateTime,Open,High,Low,Close,Open,High,Low,Close
30/12/2022 12:00,33102.4,33113.9,33069.9,33079.4,33106,33117.5,33073.5,33083
30/12/2022 13:00,33078.9,33086.9,33043.9,33067.4,33082.5,33090.5,33047.5,33071
30/12/2022 14:00,33066.9,33107.5,32909,32993,33070.5,33109.9,32911.4,32995.4
30/12/2022 15:00,32993.5,33074.5,32930,32977,32995.9,33076.9,32932.4,32979.4

# Data wrangle
rangle the data to onnly show the correct columns

In [5]:
price_data.shape

(1001, 8)

# Matplotlib OHLC

In [6]:
chart_data = pd.read_csv('sample-data/test-data.csv', parse_dates=['DateTime'], index_col='DateTime')

ValueError: Missing column provided to 'parse_dates': 'DateTime'